<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flnet.treasure.mapper.TOrderLogMapper">
    
    <resultMap type="TOrderLog" id="TOrderLogResult">
        <result property="orderLogId"    column="order_log_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="orderId"    column="orderId"    />
        <result property="orderState"    column="orderState"    />
        <result property="changeState"    column="changeState"    />
        <result property="stateInfo"    column="stateInfo"    />
        <result property="createTime"    column="createTime"    />
        <result property="operator"    column="operator"    />
    </resultMap>
	
	<sql id="selectTOrderLogVo">
        select order_log_id, order_id, orderId, orderState, changeState, stateInfo, createTime, operator from t_order_log
    </sql>
	
    <select id="selectTOrderLogList" parameterType="TOrderLog" resultMap="TOrderLogResult">
        <include refid="selectTOrderLogVo"/>
        <where>  
            <if test="orderLogId != null "> and order_log_id = #{orderLogId}</if>
             <if test="orderId != null "> and order_id = #{orderId}</if>
             <if test="orderId != null "> and orderId = #{orderId}</if>
             <if test="orderState != null  and orderState != '' "> and orderState = #{orderState}</if>
             <if test="changeState != null  and changeState != '' "> and changeState = #{changeState}</if>
             <if test="stateInfo != null  and stateInfo != '' "> and stateInfo = #{stateInfo}</if>
             <if test="createTime != null "> and createTime = #{createTime}</if>
             <if test="operator != null "> and operator = #{operator}</if>
         </where>
    </select>
    
    <select id="selectTOrderLogById" parameterType="Long" resultMap="TOrderLogResult">
        <include refid="selectTOrderLogVo"/>
        where order_log_id = #{orderLogId}
    </select>
        
    <insert id="insertTOrderLog" parameterType="TOrderLog">
        insert into t_order_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderLogId != null  ">order_log_id,</if>
			<if test="orderId != null  ">order_id,</if>
			<if test="orderId != null  ">orderId,</if>
			<if test="orderState != null  and orderState != ''  ">orderState,</if>
			<if test="changeState != null  and changeState != ''  ">changeState,</if>
			<if test="stateInfo != null  and stateInfo != ''  ">stateInfo,</if>
			<if test="createTime != null  ">createTime,</if>
			<if test="operator != null  ">operator,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orderLogId != null  ">#{orderLogId},</if>
			<if test="orderId != null  ">#{orderId},</if>
			<if test="orderId != null  ">#{orderId},</if>
			<if test="orderState != null  and orderState != ''  ">#{orderState},</if>
			<if test="changeState != null  and changeState != ''  ">#{changeState},</if>
			<if test="stateInfo != null  and stateInfo != ''  ">#{stateInfo},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="operator != null  ">#{operator},</if>
         </trim>
    </insert>
	 
    <update id="updateTOrderLog" parameterType="TOrderLog">
        update t_order_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null  ">order_id = #{orderId},</if>
            <if test="orderId != null  ">orderId = #{orderId},</if>
            <if test="orderState != null  and orderState != ''  ">orderState = #{orderState},</if>
            <if test="changeState != null  and changeState != ''  ">changeState = #{changeState},</if>
            <if test="stateInfo != null  and stateInfo != ''  ">stateInfo = #{stateInfo},</if>
            <if test="createTime != null  ">createTime = #{createTime},</if>
            <if test="operator != null  ">operator = #{operator},</if>
        </trim>
        where order_log_id = #{orderLogId}
    </update>

	<delete id="deleteTOrderLogById" parameterType="Long">
        delete from t_order_log where order_log_id = #{orderLogId}
    </delete>
	
    <delete id="deleteTOrderLogByIds" parameterType="String">
        delete from t_order_log where order_log_id in 
        <foreach item="orderLogId" collection="array" open="(" separator="," close=")">
            #{orderLogId}
        </foreach>
    </delete>
    
</mapper>