<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								登录次数：<input type="text" name="loginCount"/>
							</li>

							<li>
								用户级别：<input type="text" name="levelGrade"/>
							</li>

							<li>
								碎片数量：<input type="text" name="debrisQuantity"/>
							</li>

							<li>
								钥匙数量：<input type="text" name="keyQuantity"/>
							</li>

							<li>
								余额：<input type="text" name="balance"/>
							</li>

							<li>
								：<input type="text" name="createTime"/>
							</li>

							<li>
								：<input type="text" name="creator"/>
							</li>

							<li>
								：<input type="text" name="modifyTime"/>
							</li>

							<li>
								：<input type="text" name="modifier"/>
							</li>

							<li>
								用户代码：<input type="text" name="code"/>
							</li>

							<li>
								用户性别（0男 1女 2未知）：<input type="text" name="gender"/>
							</li>

							<li>
								头像路径：<input type="text" name="iconPath"/>
							</li>

							<li>
								用户手机号：<input type="text" name="mobile"/>
							</li>

							<li>
								微信昵称：<input type="text" name="nickname"/>
							</li>

							<li>
								：<input type="text" name="parentMemberId"/>
							</li>

							<li>
								用户状态（0正常 1停用）：<input type="text" name="status"/>
							</li>

							<li>
								：<input type="text" name="userId"/>
							</li>

							<li>
								：<input type="text" name="address"/>
							</li>

							<li>
								微信号：<input type="text" name="weixin"/>
							</li>

							<li>
								：<input type="text" name="openId"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="treasure:tMember:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="treasure:tMember:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="treasure:tMember:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="treasure:tMember:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('treasure:tMember:edit')}]];
        var removeFlag = [[${@permission.hasPermi('treasure:tMember:remove')}]];
        var prefix = ctx + "treasure/tMember";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "用户管理",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'memberId', 
					title : '',
					visible: false
				},
				{
					field : 'loginCount', 
					title : '登录次数',
					sortable: true
				},
				{
					field : 'levelGrade', 
					title : '用户级别',
					sortable: true
				},
				{
					field : 'debrisQuantity', 
					title : '碎片数量',
					sortable: true
				},
				{
					field : 'keyQuantity', 
					title : '钥匙数量',
					sortable: true
				},
				{
					field : 'balance', 
					title : '余额',
					sortable: true
				},
				{
					field : 'createTime', 
					title : '',
					sortable: true
				},
				{
					field : 'creator', 
					title : '',
					sortable: true
				},
				{
					field : 'modifyTime', 
					title : '',
					sortable: true
				},
				{
					field : 'modifier', 
					title : '',
					sortable: true
				},
				{
					field : 'code', 
					title : '用户代码',
					sortable: true
				},
				{
					field : 'gender', 
					title : '用户性别（0男 1女 2未知）',
					sortable: true
				},
				{
					field : 'iconPath', 
					title : '头像路径',
					sortable: true
				},
				{
					field : 'mobile', 
					title : '用户手机号',
					sortable: true
				},
				{
					field : 'nickname', 
					title : '微信昵称',
					sortable: true
				},
				{
					field : 'parentMemberId', 
					title : '',
					sortable: true
				},
				{
					field : 'status', 
					title : '用户状态（0正常 1停用）',
					sortable: true
				},
				{
					field : 'userId', 
					title : '',
					sortable: true
				},
				{
					field : 'address', 
					title : '',
					sortable: true
				},
				{
					field : 'weixin', 
					title : '微信号',
					sortable: true
				},
				{
					field : 'openId', 
					title : '',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.memberId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.memberId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>